.header-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: rgb(21,32,43);
  z-index: 1;
  border: none;
  border-radius: 50%;
  background: white;

  .logo-header {
    width: 100px;
    height: 100px;
  }

  .text-header {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: #2aa8df;
  }

}


