.form-send-tweet {
  background-color: white;
  border: 2px solid #00acee;
  padding: 20px;
  width: 600px;

  &_title {
    margin: 0;
  }

  &_form {
    .MuiFormControl-root {
      width: 100%;
    }
    &_name {
      width: 50%;
    }
    &_textarea {
      width: 100%;
    }
  }
}
